*
{
    margin:0 auto;
    padding:0;
}

div{
    width:1200px;
    height: 500px;
    border:1px solid red;
    margin-top:10px;
}
.first
{
    /* background-color: orange; */
    /* background-color:#65e0bc; */
    /* background-color:rgb(10%,50%,60%);   */
    background-color:rgb(200,100,40);
}
.second
{
    /* background:linear-gradient(red,orange,green,gray,blue); */
    /* background:-webkit-linear-gradient(left,red,orange,green,gray,blue);
    background:-o-linear-gradient(left,red,orange,green,gray,blue);
    background:-moz-linear-gradient(left,red,orange,green,gray,blue);
    background:-ms-linear-gradient(left,red,orange,green,gray,blue); */
    /* background:-webkit-linear-gradient(top left,red,orange,green,gray,blue); */
    /* background:-webkit-linear-gradient(80deg,red,orange,green,gray,blue); */

    background:-webkit-radial-gradient(top right,red,orange 50%,green,gray,blue);
}

.third
{
    background-image:url("https://images.wallpapersden.com/image/download/love-and-nature_a2tuZmaUmZqaraWkpJRmbmdlrWZlbWU.jpg");
    background-repeat: no-repeat;
    background-position: center -50px;
    background-size: cover;
}

.fourth
{
    background:orange url('back.png');
    background-repeat: no-repeat;
    background-size: 50% 100%;
    background-position: right center;
    font-size: 40px;
    text-align: center;
    color:white;
}
.fourth h1{
    /* background-color: blue;
    opacity: 0.1; */
    background-color: rgba(0,0,255,0.2);
}
.one
{
    background-image: url('https://images.wallpapersden.com/image/download/love-and-nature_a2tuZmaUmZqaraWkpJRmbmdlrWZlbWU.jpg');
}
.one>div{
    width:100%;
    height: 100%;
    background:linear-gradient(red,rgba(200,150,250,0.5),blue);
}
.one h1{
    font-size: 70px;
    text-align: center;
    letter-spacing: 5px;
    word-spacing: 5px;
    text-transform: uppercase;
    font-family: "Comic Relief", system-ui;
    font-weight: 700;
    background:linear-gradient(red,green,blue,orange,pink);
    color:transparent;
    background-clip: text;
}