*
{
    margin:0 auto;
    padding:0;
}

:root{
    --r:rgb(160, 7, 255);
    --g:green;
    --b:1px solid green;
}

.page
{
    width:1200px;
    height: fit-content;
    border:1px solid var(--r);
    text-align: justify;
    padding:20px;
    box-sizing: border-box;
    columns:5;
    column-rule: 2px dotted var(--r);
    column-gap: 25px;
    margin-top:80px;
    /* box-shadow: 2px 5px 5px var(--r); */
     /* box-shadow:inset 0px 0px 50px var(--r); */
     box-shadow: 0px 0px 0px 10px var(--r),0px 0px 0px 20px var(--g),0px 0px 0px 30px blue;
}
.page h1{
    column-span: all;
    margin-bottom: 20px;
}

.page p::first-letter
{
    font-size: 80px;
    float:left;
    line-height: 40px;
    padding:0 5px 0 0;
    color:var(--r);
}
.page span
{
    color:var(--r);
    text-transform: uppercase;
    text-align: left;
    padding:10px 2px;
}
.page img
{
    width: 100%;
}