*{
    margin:0 auto;
    padding:0   
}

.first
{
    width:1200px;
    /* height: 200px; */
    min-height: 50px;
    max-height: fit-content;
    border:1px solid red;
    display: flex;
}
.first>div
{
    border:1px solid blue;
    padding:5px;
    flex:1;
}
.first img
{
    width: 100%;
    height: 100%;
}

.second
{
    width:1200px;
    height: 500px;
    border:1px solid red;
    margin-top:10px;
    display: flex;
}
.second section
{
    border:1px solid blue;
    padding:10px;
    flex:1;
}
.second section:nth-child(2)
{
    flex:2.5;
}


.third
{
    width:1200px;
    height: auto;
    border:1px solid red;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly
}
.third div
{
    border:1px solid red;
    padding:10px;
    width:250px;
    height: 200px;
    margin:5px;

}