*
{
    margin:0 auto;
    padding:0;
}
.mynav
{
    width: 100%;
    height: 50px;
    background-color: bisque;
    display: flex;
    position: relative;
}
.mynav>section
{
    /* border:1px solid red; */
    flex:1;
}
.mynav>section:nth-child(2)
{
    flex:2;
}

.mynav .menu
{
    list-style-type: none;
    display: flex;
    
}
.menu li
{
    /* border:1px solid red; */
    flex:1;
    text-align: center;
}
.menu a
{
    background:-webkit-linear-gradient(left,red,rgb(242, 80, 80));
    line-height: 50px;
    width: 100%;
    float:left;
}

.menu div
{
    width: 100%;
    height: 300px;
    background-color: aquamarine;
    position: absolute;
    top:50px;
    left:0;
    display: flex;
    padding:0px 50px;
    box-sizing: border-box;
    visibility: hidden;
}

.menu section
{
/* border:1px solid red; */
flex:1;
}
.menu img
{
    width: 100%;
}
.menu div a
{
    line-height: 20px;
    text-align: left;
    padding-left:30px;
    box-sizing: border-box;
    background:none;
    text-decoration: none;
}
.mynav ul li:hover div
{
    visibility: visible;
}