*
{
    margin:0 auto;
    padding:0;
}

body
{
    background-color: aqua;
}

.row
{
    width: 1200px;
    height: auto;
    border:1px solid red;
    display: flex;
}
.row section
{
    flex:1;
    border:1px solid red;
    padding:5px;
}
.row img
{
    width: 100%;
}
.row h3{
    color:rgb(48, 47, 47);
}


@keyframes mobileh {
    from{}
    to{color:red}
}


header,footer
{
    width:100%;
    background-color: black;
    color:white;
    padding:10px;
    box-sizing: border-box;
    display: none;
}


.watermark
{
    font-size: 150px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    transform: rotate(-45deg);
    margin-top:200px;
    position: fixed;
    opacity: 0.3;
    display: none;    
}




/* media screen 1200px*/
@media(max-width:1200px)
{
    body{
        background-color: bisque;
    }
    .row{
        width:100%;
    }
}



@media(max-width:900px)
{
    body{
        background-color: rgb(255, 167, 60);
    }
    .hd1
    {
        display: none;
    }
    .row h3
    {
        text-transform: uppercase;
        text-align: center;
        text-decoration: underline;
        margin-bottom: 10px;
        text-underline-offset: 5px;
    }

}


@media(max-width:700px)
{
    body{
        background-color: rgb(112, 238, 255);
    }
    .hd2
    {
        display: none;
    }

}


@media(max-width:500px)
{
    body{
        background-color: rgb(46, 46, 46);
    }
    .row
    {
        flex-direction: column;
    }

    .row section
    {
        color:white;
        text-align: center;
        margin:10px;
        background-color: bisque;
    }
    .hd1,.hd2
    {
        display: block;
    }
    .row img
    {
        filter: brightness(110%) sepia(100);
    }
    .row h3
    {
        animation:mobileh 200ms infinite alternate;
        text-decoration: none;
    }

}





@media print{
    @page
    {
        size: A4 portrait;
    }
    .row
    {
        flex-direction: column;
        border:none;
    }
    body
    {
        background-color: transparent;
    }
    .row section
    {
        border:none;
        page-break-after: always;
    }
    header,footer
    {
        display: block;
        position: fixed;
    }
    header
    {
        top:0;
    }
    footer
    {
        bottom:0;
    }
    .watermark
    {
        display: block;
    }


}
