*
{
    margin:0 auto;
    padding:0;
}

.one
{
    width:300px;
    height: 300px;
    background-color: orange;
    font-size: 30px;
    text-align: center;
    line-height: 300px;
    transition-duration: 1s;
    /* transform:rotate(50deg); */
    /* transform:scale(0.5,0.5); */
     /* transform:skew(-30deg); */
      /* transform:translate(10px,300px); */
      /* transform:rotateX(180deg); */
}

.one:hover
{
    transform:rotate(50deg);
    transition-duration: 2s;
}
.two
{
    text-align: center;
    font-size: 40px;
    animation:abcd 1s infinite alternate;
    width: 400px;

}
.two:hover{
    animation:xyz 1s infinite alternate;
}




@keyframes abcd {
    from{}
    to{ color:blue; transform: scale(1.2,1.2);}
}

@keyframes xyz {
    from{}
    to{ color:rgb(255, 0, 0); transform: scale(1.2,1.2) rotate(360deg);}
}

